* {
    font-family: Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-area {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.restart-btn {
    display: none;
}